body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: "Montserrat";
}
.content-box{
    height: auto;
    width: 375px;
    margin: 20px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    color: hsl(228, 12%, 48%);
}
.content-img{
    height: 40vh;
    background: url("https://res.cloudinary.com/harbike/image/upload/v1670892843/image-product-mobile_vjhsrs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content-info{
    padding: 20px;
}
h6{
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 12px;
}
h3{
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-family: "Fraunces";
    font-size: 2.7em;
    line-height: 0.9em;
}
.description{
    font-size: 1rem;
    font-family: "Montserrat";
}
.new-price{
    font-size: 2.0rem;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
}
.old-price{
    text-decoration-line: line-through;
    margin: 15px 15px;
}
p{
    float: left;
}
.cart-button{
    position: relative;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    padding: 13px 50px;
    border: thin;
    border-radius: 7px;
    font-family: "Montserrat";
}
.cart-button:hover{
    background-color: hsl(158, 43%, 24%);
}
.cart-icon{
    position: absolute;
    top: 30%;
    left:32%;
    display: flex;
    /* margin: -8px -15px -5px -15px; */

}

.attribution{
    margin-top: 25px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}
.attribution a{
    text-decoration: none;
}